services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      # Add any other Stream port you want to expose
      # - '21:21' # FTP

    environment:

       DISABLE_IPV6: 'true'

    volumes:
      - /nginx/data:/data
      - /nginx/letsencrypt:/etc/letsencrypt
    networks:
      custom-bridge:

networks:
  custom-bridge:
    external: true
